/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heroBanner{
  background: url(https://gd-hbimg.huaban.com/c95b190b3e75e95e57a57584428f788bbe2da83e37254-yDaRfC);
  background-size: cover;
  background-position: center;
  height: 550px;
}

.heroTitle,.heroSubtitle{
  color:#000000a8
}
